/*Legenda de colores*/
:root {
  --background-color: #F3F5FC;
  --title-color: #0b50a3;
  --letters-color: #194375;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
}
.containerHead {
  float: left;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 30px;
  color: var(--title-color);
}
.logoImagen {
  float: left;
}
.containerMain {
  float: left;
  width: 796px;
  height: 577px;
  padding: 20px;
}
.rightSide {
  width: 90%;
  height: 577px;
  margin-top: 80px;
}
#textIn,
#textIn:focus {
  color: var(--letters-color);
  font-size: 32px;
}
#textIn::placeholder {
  color: var(--letters-color);
  font-size: 32px;
}
#textIn {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 24px 32px -8px rgba(154, 154, 154, 0.2);
  overflow-wrap: break-word;
  background-color: var(--background-color);
}
.containerMandate {
  display: flex;
  align-items: flex-end;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
#btnEncrypt {
  padding: 30px;
  color: white;
  width: 28%;
  height: 60%;
  background: #0A3871;
  border-radius: 24px;
}
#btnDecrypt {
  padding: 30px;
  width: 28%;
  height: 60%;
  color: black;
  background: #D8DFE8;
  border-radius: 24px;
}
#btnClear {
  padding: 30px;
  color: white;
  width: 28%;
  height: 60%;
  background: #0A3871;
  border-radius: 24px;
}
#btnEncrypt:hover {
  color: #0A3871;
  background: white;
  border: solid #9ca1a7;
  font-size: 15px;
  transform: scale(1.1);
}
#btnDecrypt:hover {
  color: #D8DFE8;
  background: #948787;
  font-size: 15px;
  border: solid #0A3871;
  transform: scale(1.1);
}
#btnClear:hover {
  color: #0A3871;
  background: white;
  border: solid #9ca1a7;
  font-size: 15px;
  transform: scale(1.1);
}
.containerSecondary {
  float: left;
  width: 324px;
  height: 824px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.leftSide {
  float: left;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#text {
  margin-left: 36px;
  text-align: center;
  width: 254px;
}
#textTwo {
  margin-left: 36px;
  text-align: center;
  width: 254px;
}
.textOut {
  height: 774px;
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#textEncrypted {
  font-size: 26px;
  color: #495057;
  word-wrap: break-word;
  margin: 0;
  border: none;
  outline-style: none;
  height: 100%;
  width: 100%;
  resize: none;
}
#btnCopy {
  margin-left: 15%;
  display: none;
  padding: 22px;
  width: 76%;
  height: 99%;
  background: #D8DFE8;
  border-radius: 24px;
}
#btnCopy:hover {
  color: #D8DFE8;
  background: #948787;
  font-size: 15px;
  border: solid #0A3871;
  transform: scale(1.2);
}
footer {
  float: left;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 15px 0;
}
.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
.creator {
  color: blue;
  margin-top: 50px;
  margin-bottom: 32px;
}
.networksContainner {
  margin-bottom: 50px;
}
.networks {
  display: inline;
  margin-inline: 1rem;
}
.social {
  height: 4rem;
}
div li a img:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 1199px) {
  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .containerMain {
    float: left;
    width: 95%;
    height: 700px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
  }
  .rightSide {
    width: 100%;
    height: 100%;
  }
  #imgLeftside {
    content-visibility: hidden;
  }
  #btnEncrypt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnDecrypt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnClear {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerSecondary {
    float: left;
    width: 95%;
    height: 400px;
    margin: 20px 60px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .leftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #imgLeftside {
    content-visibility: hidden;
    display: none;
  }
  #text {
    width: 100%;
  }
  #textTwo {
    width: 100%;
  }
  .textOut {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 15px;
  }
  #textEncrypted {
    line-height: 150%;
    font-size: 32px;
    color: #495057;
    word-wrap: break-word;
    margin: 0;
    border: none;
    outline-style: none;
    height: 90%;
    resize: none;
    position: relative;
  }
  #btnCopy {
    margin: 10px;
    margin-left: 18%;
    padding: 10px;
    width: 69%;
    height: 90%;
    background: #D8DFE8;
    border-radius: 24px;
    position: relative;
  }
  .footercontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
    width: 95%;
  }
  .creador {
    margin-top: 0;
  }
  .networksContainner {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .containerMain {
    height: 900px;
    width: 100%;
    padding: 0 20px;
    margin: 0 5px;
  }
  .rightSide {
    margin: 0 5px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #btnEncrypt {
    margin: 20px;
    width: 80%;
  }
  #btnDecrypt {
    margin: 20px;
    width: 80%;
  }
  #btnClear {
    margin: 20px;
    width: 80%;
  }
  .containerSecondary {
    width: 100%;
    margin: 5px 20px;
    padding: 0 30px;
  }
  #text {
    margin-left: 0;
    width: 100%;
  }
  #textTwo {
    margin-left: 0;
    width: 100%;
  }
}
